@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;900&family=Zen+Kurenaido&display=swap');

body {
  background-color: #8bc;
  margin-top: 50px;
}

p {
  font-family: 'Zen Kurenaido', sans-serif;
}

h1, a, li {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 300;
}

h1 {
  letter-spacing: 0.5em;
}

#main {
  background-color: #b0f4d0;
  padding: 50px;
  width: 600px;
  height: 600px;
  margin: 80px auto 0;
  border-radius: 50%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#meny_boks {
  position: absolute;
  margin-left: 50%;
  top: 20px;
  left: -600px;
  width: 400px;
  z-index: 1;
}

#meny_circle {
  position: relative;
  float: right;
  top: 0;

  width: 200px;
  height: 200px;
  border-radius: 50%;
  shape-outside: circle(40.4% at 95px 99px);
  /* border: 3px solid #f66; */
  border-right: none;
  shape-margin: 10px;
}

#meny_border {
  position: relative;
  top:0;
  left: 0;
  width: 100px;
  height: 200px;
  border-radius: 200px 0 0 200px;
  border: 3px dotted #ccc;
  border-right: none;
}

.meny {
  position: relative;
  top: 0;
  left: -20px;
}

.meny ul {
  padding: 0;
  align-items: center;
  width: 300px;
}

.active a {
  font-weight: 900;
}

.meny ul li {
  list-style-type: none;
  padding: 0;
  text-align: right;
  width: auto;
  margin: auto;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 1em;
}

.meny ul li.active {
  /* background-color: # */
  color: #333;
}

.meny ul li a:hover {
  font-weight: 900;
}

.meny ul li.active:hover {
  cursor: none;
  background-color: none;
}

a {
  text-decoration: none;
  color: #233;
}

.mengdetekst {
  position: relative;
  top: 0;
  max-width: 400px;
  text-align: left;
  margin: auto;
  margin-top: 10px;
  padding: 0px;
}

/* .circle_shape {
  position: static;
  float: left;
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  shape-outside: circle(50%);
  background-image: url("bilder/selvportrett.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position:center;
 } */


.dino img {
  position: relative;
  left: 200px;
  width: 400px;
  top: -50px;
}

@keyframes anim_1 {
  from {
    left: 0%;
  }
  to {
    left:50%;
  }
}
